<<!DOCTYPE html >
  <html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/CSS/style.css">

    <title>LocateMe!</title>
  </head>


  <body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light" style="background-color: #e3f2fd;">

      <a class="navbar-brand" href="#">LocateMe!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li
          <li class="nav-item active">
            <a class="nav-link" href="#">Features</a>
          </li>
        </ul>

        <form class="form-inline pull-xs-right">
          <button id="loginbtn" class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="openNav(event)" >Log In</button>
        </form>
      </div>

    </nav>

    <div id="map"></div>
     <script>
      var map, infoWindow;
      function initMap() {

  var myLatLng = {
    lat: -25.363,
    lng: 131.044
  };
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: myLatLng
  });
  
  infoWindow = new google.maps.InfoWindow;

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      myLatLng = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(myLatLng);
      infoWindow.setContent('Location found.');
      infoWindow.open(map);
      map.setCenter(myLatLng);
      console.log("INSIDE IF");
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
    console.log("ERROR");
  }
  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
	
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Your Clicked Location'
  });
  
  map.addListener('click', function(event) {
    marker.setPosition({
      lat: event.latLng.lat(),
      lng: event.latLng.lng(),
    });
  });



 
}
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMcCpQD49UcLD5TwjXSjsY3k4QzduPXlE&callback=initMap">
    </script>



    <script>
    function openan(event) {
        document.getElementById("myNav").style.width = "100%";
        console.log("Overlay 1 Called" + " " + event.target.id);
    }

    function closean(event) {
        document.getElementById("myNav").style.width = "0%";
        console.log("Overlay 1 Called" + " " + event.target.id);
    }
    function openNav(event) {
        document.getElementById("myNav2").style.width = "100%";
        console.log("Overlay 2 Called" + " " + event.target.id);
    }

    function closeNav() {
        document.getElementById("myNav2").style.width = "0%";
        console.log("Overlay 2 Called" + " " + event.target.id);
      }
    </script>





      <!-- The Anonumous OverLay -->
    <div id="myNav" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closean(event)">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Generated Link"></textarea>
        <a href="#">Share Anonymously !</a>
      </div>

    </div>


    <div id="myNav2" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav(event)">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content">
            <form>
            <div class="form-group">
              <label for="exampleInputEmail1" style="color:white;">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" style="color:white;">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-outline-primary">Register</button>
            <button type="submit" class="btn btn-outline-success">Log In</button>

          </form>
      </div>

    </div>


    <div id="sharediv">
    <button id="share" type="button" class="btn btn-info" onclick="openan(event)">Share Location</button>

   </div>

   <div id="lockgps">
    <button  type="button" class="btn btn-success">Lock GPS Location</button>

   </div>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
